In [1]:
import numpy as np
import pandas as pd

In [4]:
patients = pd.read_csv('assets\IndividualDetails.csv')
patients.head()

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\yashr\AppData\Local\Temp\ipykernel_19752\1952864076.py:1: SyntaxWarning: invalid escape sequence '\I'
  patients = pd.read_csv('assets\IndividualDetails.csv')

,id,government_id,diagnosed_date,age,gender,detected_city,detected_district,detected_state,nationality,current_status,status_change_date,notes
0,0,KL-TS-P1,30/01/2020,20,F,Thrissur,Thrissur,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
1,1,KL-AL-P1,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
2,2,KL-KS-P1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
3,3,DL-P1,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,India,Recovered,15/03/2020,"Travelled from Austria, Italy"
4,4,TS-P1,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,India,Recovered,02/03/2020,"Travelled from Dubai to Bangalore on 20th Feb,..."

In [5]:
patients['current_status'].value_counts()

current_status
Hospitalized    8301
Recovered        139
Deceased          30
Migrated           1
Name: count, dtype: int64

In [9]:
total = patients.shape[0]
active = patients[patients['current_status'] == 'Hospitalized'].shape[0]
active = patients[patients['current_status'] == 'Recovered'].shape[0]
active = patients[patients['current_status'] == 'Deceased'].shape[0]

(8301, 12)

In [13]:
patients_bar = patients['detected_state'].value_counts().reset_index()

In [21]:
npat = patients[patients['current_status'] == 'Hospitalized']
patients_bar = npat['detected_state'].value_counts().reset_index()

In [22]:
patients_bar

                 detected_state  count
0                   Maharashtra   1757
1                         Delhi   1065
2                    Tamil Nadu    962
3                     Rajasthan    696
4                Madhya Pradesh    527
5                     Telangana    501
6                       Gujarat    463
7                 Uttar Pradesh    445
8                Andhra Pradesh    403
9                        Kerala    313
10            Jammu and Kashmir    223
11                    Karnataka    181
12                      Haryana    167
13                       Punjab    156
14                  West Bengal    128
15                        Bihar     63
16                       Odisha     53
17                  Uttarakhand     34
18             Himachal Pradesh     30
19                        Assam     29
20                 Chhattisgarh     24
21                   Chandigarh     19
22                    Jharkhand     17
23                       Ladakh     15
24  Andaman and Nicobar Islands     11
25                   Puducherry      7
26                          Goa      7
27                      Tripura      2
28                      Mizoram      1
29                      Manipur      1
30            Arunachal Pradesh      1